  .home__section {
    display: flex;
    padding: 30px;
  }
.header{
  padding: 30px;
  height: 800px;
  font-family: fantasy;
  background-image: url("https://wallpaperaccess.com/full/222675.jpg");
}
  .home__search{
    width: 40%;
    padding: 20px;
    margin-left: 30%;
    margin-top: 10%;
    background: white;
    border-radius: 20px;
  }
  .buttonsearch:hover{
      background-color: white;
      color: #FFF;
  }
